:root {

    --container-max-width: 2560px;

    --color-miku: #39c5bb;
    --color-miku-dark: #30a59c;
    --color-miku-transparent: #39c5bbb0;

    --color-pink: #f69;

    --color-violet: #8a2be2;

}