.user-list div{

}


.user-list div img{
    width: 100px;
    height: 100px;
}

.user-list .name {
    width: 40%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

