.user-list div{

}


.user-list div img{
    width: 125px;
    height: 125px;
}

.user-list div img:hover{
    opacity: 0.5;
    transition: 0.25s;
}

/*
.user-list .name {
    width: 40%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}*/

