.user-list div{

}


.user-list div img{
    width: 100px;
    height: 100px;
}

.user-list .name {
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

#user-link {
    color: #6d757a;
    text-decoration: none;
}

#user-link:hover {
    color: #6d757a;
    text-decoration: none;
}

#user-link:visited {
    color: #6d757a;
    text-decoration: none;
}
